# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
# Common names for virtual environments
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# Cache files
# Python cache files
*.cache
*.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDE and Editor directories
# PyCharm
.idea/

# VS Code
.vscode/

# macOS-specific files
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*~

